{% extends 'base.html' %}

{% block body %}
    <p class="h5">Возможности сайта:</p>
    <ul>
        <li>
            Преобразует загруженные Excel файлы в sqlite, sqlite.txt, mysql.txt, где <br>
            sqlite - база данных, имеет формат ".db", <br>
            sqlite.txt - текстовый файл, в котором предоставлены команды для построения базы данных sqlite, <br>
            mysql.txt - текстовый файл, в котором предоставлены команды для построения базы данных sqlite <br>
        </li>
        <li>
            Редактор дает возможность установить название аттрибута, его типа, ограничений, <br>
            установить является ли атрибут внешним ключом для определенной таблицы и атрибута
        </li>
        <li>
            В сайте предусмотрена возможность хранения файлов excel для их дальнейшего преобразования
        </li>
    </ul>
    <p class="h5">Описание ролей:</p>
    <ul>
        <li>
            Участник - пользователь, имеющий возможность преобразования файлов excel в базу данных
            и хранить файлы excel
        </li>
        <li>
            Администратор - пользователь, имеющий возможность управлять всеми зарегистрированными
            пользователями,<br>
            а также хранящимися файлами excel
        </li>
    </ul>
{% endblock %}